head	1.1;
access;
symbols;
locks; strict;
comment	@# @;


1.1
date	2009.04.08.09.01.19;	author julz;	state Exp;
branches;
next	;
commitid	WL0XrLitXVrxZbJt;


desc
@@


1.1
log
@A custom Drupal module which provides a feature by which you can generate a vcf file for any event node type.

A link is provided to a vCalendar file where it has been enabled on event nodes.
@
text
@/* */
#vcalendar-toggle {
  width: 100%;
}
#vcalendar-toggle th {
  border: 0px solid #8FC3FF;
}
#vcalendar-toggle td {
  background-color: #B9DDFF;
  border: 1px solid #8FC3FF;
}
@
